{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>View Category Item</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method = "get">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type ="text" maxlength="100" class="form-control" name="name" value="{{item.name }}" readonly>
					<label for="description">Description:</label>
					<input type="text" class="form-control" maxlength="250" rows="5" name="description" value="{{item.description}}" readonly>					
					<label for="genre">Genre:</label>
					<input type="text" class="form-control" maxlength="100" name="genre" value="{{item.genre}}" readonly>					
					<a href="{{url_for('showCatalog')}}" class="btn btn-default delete">Cancel</a>
				</div>
			</form>
		</div>
	</div>
{% endblock %}